/*
* This is a neat little trick that turns on simple borders to easily see the template.
* Note that this does add some extra border spacing that you might want to remove for the final template.
*/
/*
* {
  border: 1px solid red !important;
}
*/

/*
* Adding flex support
*/
* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
  padding: 0px;
  margin: 0px;
  font-variant: small-caps;
  text-transform: capitalize;
  /* text-transform: uppercase; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  padding: 0px;
  margin: 0px;
  text-transform: lowercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0px;
  margin: 0px;
}

.inner {
  max-width: 1024px;
}

html {
  background-color: rgb(229, 234, 238);
}

body {
  background-color: rgb(229, 234, 238);
}

/* making email link look more like normal text */
a.email {
  color: black;
}


.fadeinanim {
  animation:          fadein 2.5s;
  -o-animation:       fadein 2.5s;
  -ms-animation:      fadein 2.5s;
  -moz-animation:     fadein 2.5s;
  -webkit-animation:  fadein 2.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section {
  padding: 0.5rem;
  margin: 0.5rem;
}

/* section background colors */

#title {
  background-color: rgb(229, 234, 238);
  padding: 1rem;
  
  animation:          fadein 1.5s;
  -o-animation:       fadein 1.5s;
  -ms-animation:      fadein 1.5s;
  -moz-animation:     fadein 1.5s;
  -webkit-animation:  fadein 1.5s;
}

#aboutme {
  background-color: rgb(114, 162, 175);
}

#education {
  background-color: rgb(132, 183, 197);
}

#workexperience {
  background-color: rgb(175, 187, 191);
}

#projects {
  background-color: rgb(196, 209, 214);
}

#contactme {
  background-color: rgb(229, 234, 238);
}



/* infotemplate styling */

#infotemplatebox {
  transition: 0.5s;
}

#infotemplatebox:hover {
  background-color: rgb(229, 234, 238);
}



/* descriptionModal styling */

#descriptionModalBody {
  background-color: rgb(229, 234, 238);
}

#descriptionModal-textarea {
  line-height: 1.7;
}

#descriptionModal-links {
  word-wrap: break-word;
  line-height: 1.5;
}


